@import "./main.css";

body {
  background-color: var(--orange-clr);
  color: var(--white-clr);
  font-family: Inter;
}

a {
  text-decoration: none;
  padding: 0.5rem 0;
  display: inline-block;
  text-decoration-thickness: 1px;
  transition: scale 0.1s ease-in-out;
}

a:is(:hover, :focus) {
  text-decoration: underline #fafafa wavy;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-underline-position: below;
  scale: 1.1;
}
