@import "node_modules/modern-normalize/modern-normalize.css";

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("fonts/Inter-Bold.ttf");
}

:root {
  --orange-clr: #ff7b54;
  --white-clr: #fafafa;
}

body * {
  color: inherit;
  font-family: inherit;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

header > div {
  display: flex;
  align-items: center;
}

nav {
  display: inline-block;
}

nav > ul {
  list-style: none;
  display: flex;
}

nav > ul li {
  margin-right: 36px;
}